<app-encabezado></app-encabezado>

<div class="recovery-container">
    <div class="recovery-card">
        <h2>Recuperar contraseña</h2>
        
        <form action="#" method="POST">
            <div class="input-group">
                <input type="email" class="input-field" placeholder="Correo electrónico">
                <i class="fa-solid fa-envelope"></i>
            </div>

            <button type="button" class="btn-recover" routerLink="/menu-main">Enviar código de recuperación</button>
        </form>

        <div class="back-link">
            ¿Ya tienes cuenta? <a routerLink="/inicio-sesion">Inicia sesión</a>
        </div>
    </div>
</div>

<app-pie-pagina></app-pie-pagina>