/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo del botón del menú */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Contenido del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambiar el color cuando el mouse pasa sobre un enlace */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Mostrar el contenido del menú cuando se pasa el mouse sobre el contenedor */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Cambiar color del botón cuando el mouse pasa sobre él */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}




/*Estilo menu hamburguesa desplegable*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 235px;

}

.nav_link {
    color: #303440;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.nav_link--inside {
    border-radius: 6px;
    padding-left: 20px;

}

.nav_link--inside:hover {
    background: white;
}

.list {
    width: 100%;
    height: 30vh;
    direction: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: rgb(255, 255, 255);

}

.list_item {
    list-style: none;
    width: 100%;
    text-align: left;
    overflow: hidden;
    font-size: 14px;

}

.list_item--click {
    cursor: pointer;
}

.list_button {
    display: flex;
    align-items: left;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

.arrow .list_arrow {
    transform: rotate(90deg);
}

.list_arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list_show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}