<app-encabezado></app-encabezado>

<div class="menu-content">
    <header>
        <h1>Sistema Gestor de Información</h1>
        <a routerLink="/">Cerrar Sesion</a>
    </header>

    <!-- <div class="notification-container">
        <span class="notification-icon" (click)="toggleNotifications()">🔔</span>
        <span class="notification-count">3</span>

        <div class="notification-dropdown" [class.active]="isNotificationsActive">
            <div class="notification-item">Nueva notificación 1</div>
            <div class="notification-item">Nueva notificación 2</div>
            <div class="notification-item">Nueva notificación 3</div>
        </div>
    </div> -->

    <div class="container">
        <!-- Gestion de Pozos -->
        <div class="barra">
            <b>Gestion de Pozos</b>
            <img src="img/Imagen-Gestion-Pozos.png" alt="Gestion de Pozos">
            <p>Visualiza y edita los pozos del Organismo Operador.</p>

            <nav class="nav">
                <div class="list_item list_item--click" [class.active]="isMenuOpen('pozos')">
                    <div class="list_button" (click)="toggleMenu('pozos')">
                        <span class="nav_link">Gestion de Pozos</span>
                        <i class="fa-solid fa-chevron-right list_arrow"></i>
                    </div>
                    <ul class="list_show">
                        <li class="list_inside">
                            <a routerLink="/listado-pozos" class="nav_link nav_link--inside">Listado de pozos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Gestion de Captura -->
        <div class="barra">
            <b>Gestion de Captura</b>
            <img src="img/Imagen-Gestion-Captura.png" alt="Gestion de Captura">
            <p>Administra la información enviada por los operadores.</p>

            <nav class="nav">
                <div class="list_item list_item--click" [class.active]="isMenuOpen('captura')">
                    <div class="list_button" (click)="toggleMenu('captura')">
                        <span class="nav_link">Gestion de Captura</span>
                        <i class="fa-solid fa-chevron-right list_arrow"></i>
                    </div>
                    <ul class="list_show">
                        <li class="list_inside"><a routerLink="/listado-operadores"
                                class="nav_link nav_link--inside">Operadores</a></li>
                        <li class="list_inside"><a routerLink="/gestion-de-operacion"
                                class="nav_link nav_link--inside">Operacion</a></li>
                        <li class="list_inside"><a routerLink="/gestion-de-mtto"
                                class="nav_link nav_link--inside">Mantenimiento</a></li>
                        <li class="list_inside"><a routerLink="/gestion-de-alerta"
                                class="nav_link nav_link--inside">Alertas</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Gestion de procesamiento -->
        <div class="barra">
            <b>Gestion de procesamiento</b>
            <img src="img/Imagen-Gestion-Procesamiento.png" alt="Gestion de procesamiento">
            <div class="barra-text">
                Genera indicadores:
                <a routerLink="/nvo-usuario"><i class="fa-solid fa-circle-info"></i></a>
            </div>

            <nav class="nav">
                <div class="list_item list_item--click" [class.active]="isMenuOpen('procesamiento')">
                    <div class="list_button" (click)="toggleMenu('procesamiento')">
                        <span class="nav_link">Gestion de Procesamiento</span>
                        <i class="fa-solid fa-chevron-right list_arrow"></i>
                    </div>
                    <ul class="list_show">
                        <li class="list_inside"><a routerLink="/indicadores-indv"
                                class="nav_link nav_link--inside">Consumo
                                energetico</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Gestion de Visualización -->
        <div class="barra">
            <b>Gestion de Visualización</b>
            <img src="img/Imagen-Gestio-Visualizacion.png" alt="Gestion de Visualización">
            <div class="barra-text">
                Visualiza datos:
                <br> -Tabulares
                <br> -Gráficos
                <br> -Cartográficos
            </div>

            <nav class="nav">
                <div class="list_item list_item--click" [class.active]="isMenuOpen('visualizacion')">
                    <div class="list_button" (click)="toggleMenu('visualizacion')">
                        <span class="nav_link">Gestion de Visualización</span>
                        <i class="fa-solid fa-chevron-right list_arrow"></i>
                    </div>
                    <ul class="list_show">
                        <li class="list_inside"><a routerLink="/listado-pozos" class="nav_link nav_link--inside">Datos
                                de Pozo</a></li>
                        <li class="list_inside"><a routerLink="/gestion-operacion"
                                class="nav_link nav_link--inside">Datos de operación</a></li>
                        <li class="list_inside"><a routerLink="/gestion-mantenimiento"
                                class="nav_link nav_link--inside">Datos de mantenimiento</a></li>
                        <li class="list_inside"><a routerLink="/gestion-alerta"
                                class="nav_link nav_link--inside">Registro de alertas</a></li>
                        <li class="list_inside"><a routerLink="/indicadores"
                                class="nav_link nav_link--inside">Indicadores</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<app-pie-pagina></app-pie-pagina>