<app-encabezado></app-encabezado>
<div class="login-container">
    <h2>Iniciar sesión</h2>
    <form action="#" method="POST">
        <input type="text" class="input-field" placeholder="Usuario">
        <input type="password" class="input-field" placeholder="Contraseña">
        <button type="button" class="btn-login" onclick="iraMenu_Main()">Iniciar sesión</button>
    </form>
    <a href="rec.contra-prueba.html" class="forgot-password">¿Olvidaste tu contraseña?</a>
</div>
<app-pie-pagina></app-pie-pagina>