 header {
     background-color: #0288d1;
     /* Azul intenso para el encabezado */
     color: white;
     text-align: center;
     padding: 20px;
     width: 100%;
 }

 header h1 {
     margin: 0;
     font-size: 2.5em;
 }